doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="css/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&display=swap" rel="stylesheet")
        title MoGo - is a great service with Great services
    body 
        header.container-fliud 
            .container
                .header-top
                    .header-menu.d-lg-flex.justify-content-lg-between.align-items-center
                        .logo
                            a(href="#") 
                                p.logo MoGo
                        .burger.d-lg-none     
                            span
                        .nav-menu.d-lg-flex.justify-content-lg-between.column-gap
                            nav
                                ul.menu.d-lg-flex.justify-content-lg-between.column-gap
                                    li
                                        a(href="#") About
                                    li
                                        a(href="#") service
                                    li
                                        a(href="#") work
                                    li
                                        a(href="#") blog
                                    li
                                        a(href="#") contact
                            nav.social.d-lg-flex.justify-content-lg-between.column-gap 
                                ul.d-flex.column-gap.justify-content-center
                                    li
                                        a(href="#") 
                                            img(src="img/carzunka.svg", alt="bag")
                                    li
                                        a(href="#") 
                                            img(src="img/search.svg", alt="search")
                .header-main-block.text-center 
                    h2 Creative Template
                    h1 Welcome to MoGo
                    a.button(href="#") Learn more

        script(src="js/script.js") 

